body {
  background-color: grey;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: black;
  text-decoration: underline;
  font-family: arial;
}

#ulnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: maroon;
}

#ulli {
  float: left;
}

#ulli a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: arial;
  font-size: 20px;
  padding-right: 116px;
  padding-left: 116px;
}

#ulli:hover {
  background-color: black;
}


#googleMap {
  position: fixed;
  bottom: 0px;
  left: 578px;
  width: 1000px;
  height: 500px;
  border: 3px solid
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: arial;
    padding: 0 0 0 50px;
    color: black;
    font-size: 20px;
}

.collapsible-menu {
    background-color: grey;
    padding: 0px 30px;
}

.collapsible-menu ol {
    list-style-type: decimal;
    padding: 0;
}

.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family: arial;
    font-size: 36px;
    display: block;
    cursor: pointer;
    background: url(threelines.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}
input#menu {
    display: none;
}

input:checked ~ label {
    background-image: url(close.png);
}

input:checked ~ .menu-content {
    max-height: 100%;
}
