html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 99%;
}

#viewDiv {
  border-style: ridge;
  border-color: ivory;
  border-width: 8px;
}

body {
  margin: 5px;
  background-color: lightblue;
}
