html, body, #map {
  height: 100%;
  padding: 100;
}

body {
  background-color: lightblue;
}

#map {
  border-style: ridge;
  border-color: ivory;
  border-width: 8px;
}

#header1 {
  text-align: center;
  font-family: arial;
  text-decoration: underline;
}
