html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 95%;
}

#viewDiv {
  border-style: ridge;
  border-color: maroon;
  border-width: 8px;
}

body {
  margin: 5px;
  background-color: #000f1a;
}

h1 {
  color: maroon;
  text-align: center;
  font-family: arial;
  text-decoration: underline;
  font-size: 40px;
}
