html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 95%;
}

#viewDiv {
  border-style: ridge;
  border-color: grey;
  border-width: 8px;
}

h1 {
  text-align: center;
}

body {
  background-color: black;
  font-family: arial;
  color: white;
}
