h1 {
  text-align: center;
  font-family: arial;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: arial;
}

#footer {
  color: #30aa00;
  font-family: arial;
}

body {
  background-color: black;
  font-family: arial;
  color: #30aa00;
  background-image: url(matrixwall.jpg);

}

div {
  text-align: center;
}

input {
  display: inline;
}

label {
  font-family: arial;
}

#tobox {
  position: relative;
  left: 38px;
}

#convertedresult {
  font-weight: bold;
  font-size: 30px;
  color: lime;
}

option {
  background-color: #30aa00;
  font-size: 16px;
}

select {
  background-color: #30aa00;
  border: none;
  font-size: 16px;
}

select:focus {
  background-color: lime;
}

input {
  background-color: #30aa00;
  border: none;
  font-size: 20px;
}

input:focus {
  background-color: lime;
}

button {
  background-color: #30aa00;
  border: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s
}

button:focus {
  background-color: lime;
}

button:hover {
  background-color: lime;
  color: black;
}

.box {
  animation: aniload 3s;
}

@keyframes aniload {
  from {
    transform: translate(-1000px, 0px)
  }
  to {
    transform: translate(0px, 0px)
  }
}
