h1 {
  text-align: center;
  font-family: arial;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: arial;
}

body {
  background-color: lightblue;
  font-family: arial;
}

div {
  text-align: center;
}

input {
  display: inline;
}

label {
  font-family: arial;
}

#tobox {
  position: relative;
  left: 38px;
}

p {
  font-weight: bold;
  font-size: 30px;
}
