h1 {
  text-align: center;
  text-decoration: underline;
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

#heading1, #heading2 {
  color: navy;
}

#map {
  padding: 300px;
  border-style: ridge;
  border-color: maroon;
  border-width: 10px;
}
html, body {
  background-color: grey;
}

h2 {
  text-align: center;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.jrhighh1 {
  background-color: lightgreen;
}

.jrhighh2 {
  background-color: lightgreen;
  color: purple;
}

.jrhighp {
  background-color: lightgreen;
}

.homep, .homeh1 {

}

.highh2, .highp {
  background-color: #9b0404;
  color: white;
}

.highh1 {
  background-color: #9b0404;
  color: black;
}
